# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
build/
dist/

# Venv
.venv/
.venv27/
venv/
venv27/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Local config overrides
config/local.ini
